* {
  box-sizing: border-box;
}
.container {
  background: #ff9ae5;

  margin: 30px auto;
  overflow: auto;

  overflow: auto;
  max-width: 900px;
}
body {
  background: #3333ff;
  margin: 25px;
}
.author-name {
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.author-position {
  font-style: italic;
  margin: 0px;
}
.publish-time {
  margin: 0px;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: grey;
  padding-top: 10px;
}
h1 {
  font-size: 35px;
}
@media(min-width: 500px) {

  .left-column {
    width: 25%;
    float: left;
    padding-right: 25px;

  }

  .right-column {
    width: 75%;
    float: left;
  }

}
/* 1 made the captions italic  */
.caption {
  font-style: italic;
}
/* 2 made the font-size of a elements 20px */
a {
  font-size: 20px;
}
/* 3 changed the font weight of anything with an h1 tag lighter */
h1 {
  font-weight: lighter;
}
/* 4 changes the font family of any text in the body to serif */
body {
  font-family: serif;
}
/* 5 changes the font size of any text in the publish-time class to 18px */
.publish-time {
  font-size: 18px;
}
/* 6 makes text with the publish-time class uppercase */
.publish-time {
  text-transform: uppercase;
}
/* 7 adds an underline to elements with the h1 tag */
h1 {
  text-decoration: underline;
}
/* 8 makes all text in the body use its small capitalized version  */
body {
  font-variant: small-caps;
}
/* 9 makes the font family of text with an h1 tag sans-serif  */
h1 {
  font-family: sans-serif;
}
/* 10 makes the color of text with h1 tag blue */
h1 {
  color: blue;
}
/* 11 makes a dotted blue border around any elements with the h1 tag */
h1 {
  border: 4px dotted blue;
}
/* 12 adds a red box-shadow to text within the publish-time class */
.publish-time {
  box-shadow: 2px 6px red;
}
/* 13  makes the margin-right of text with the h1 tag be 20px*/
h1 {
  margin-right: 20px;
}

/* 16  */
/* 17  */
/* 18  */
/* 19  */
/* 20  */
