* {
  box-sizing: border-box;
}
.container {
  background: #ff9ae5;

  margin: 30px auto;
  overflow: auto;

  overflow: auto;
  max-width: 900px;
}
body {
  background: #3333ff;
  margin: 25px;
}
.author-name {
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.author-position {
  font-style: italic;
  margin: 0px;
}
.publish-time {
  margin: 0px;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: grey;
  padding-top: 10px;
}
h1 {
  font-size: 35px;
}
@media(min-width: 400px) {

  .left-column {
    width: 25%;
    float: left;
    

  }

  .right-column {
    width: 75%;
    float: left;
  }

}
