* {
  box-sizing: border-box;
}
.container {
  background: #ff9ae5;

  margin: 30px auto;
  overflow: auto;
}
body {
  background: #3333ff;
}
.author-name {
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.author-position {
  font-style: italic;
  margin: 0px;
}
.publish-time {
  margin: 0px;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: grey;
  padding-top: 10px;
}
